/* General styles */
/* handles the mobile design format */
/* handles the main content design */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
}
a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
}

/* Top navigation || Header */ 
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1b212f;
    color: white;
}

.top-nav h1 {
    font-size: 24px;
}

.top-nav-btn {
    display: flex;
    gap: 15px;
}

.top-nav-btn a {
    color: white;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}
main {
    padding: 40px;
    background: linear-gradient(to top right, #a0d6e0 30%, #ecf6fe 70%); /* Stronger gradient */
}


.hero {
    text-align: center;
    padding: 50px;
    background-color: #777;
    color: white;
    border-radius: 10px;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
}

.learn-more-btn {
    padding: 10px 20px;
    background-color: white;
    color: #777;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.learn-more-btn:hover {
    background-color: #555;
    color: white;
}

/* Profile Icon */
.profile-icon {
    cursor: pointer;
    font-size: 24px;
    color: white;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* style for sidebar */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Behind the sidebar */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .top-nav-btn {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .features {
        flex-direction: column;
        gap: 30px;
    }

    .feature-item {
        width: 90%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column;
    }
}

